/* ==========================================================================
   Global app/site styles
   ========================================================================== */

.container {
	width: 100%;
	margin: 0 auto;
}
	.content,
	.footer-content {
		padding: 0 3%;
	}

	.post {
		max-width: 720px;
		margin: 0 auto;
	}

	.page-footer {
		position: relative;
	}

/*
   Masthead
   ========================================================================== */

.page-header {
	background: #000;
	margin-bottom: $verticalRhythm*2 + px;
}

.page-title {
	margin-bottom: 0;
	border-bottom: 1px solid #000;

	& + .text-intro {
		margin-top: 30px;
		padding-bottom: 30px;
	}
}
	.page-title-sub {
		position: relative;
	}
		.page-title-sub-text {
			position: absolute;
			top: 32px;
			left: 107px;
			background: #fff;
			padding: 13px 1px 0;


			@include font-size(28);
			letter-spacing: 0;
			font-weight: 600;
			line-height: 1;
		}

.text-intro {

	@include font-size(28);
	font-weight: 300;

	max-width: 560px;
	margin: 0 auto;
}






//  ============
//  === LOGO ===
//  ============

.logo {
	position:relative;
	z-index:10;
	float:none;
	overflow: hidden;
	box-shadow: -5px -1px 14px #333;
	margin: 0;

	@include respond-min($breakpoint-midupper) {
		float: left;
	}

	/* Span text for accessibility */
	& span {
		display:block;
		position:absolute;
		text-indent:100%;
	}
	a {
		position: relative;
		z-index: 2;
		display:block;
		padding:5px 24px 8px;
		text-align:center;
		background:#be1e2d;
		line-height:0;
	}
}

.logo-dg {
	max-height: 40px;

	@include respond-min($breakpoint-narrow) {
		max-height: 80px;
	}
	@include respond-min($breakpoint-midupper) {
		max-height: 30px;
		width: 60px;
	}

	path {
		fill: #fff;
		@include prefixer(transition, fill 300ms ease, webkit moz o spec);
	}
}
	.logo-link:hover path {
		fill: #000;
		stroke: #666;
		stroke-width: 3;

		@include prefixer(transition, fill 300ms ease, webkit moz o spec);
	}
img.logo-dg {
	display: none;

	.no-svg & {
		display: block;
	}
}


.post .img {
	margin: 0 0 $verticalRhythm+px;

	> img {
		border: 1px solid #333;
	}

	@include respond-min(900) {
		width: 140%;
		margin: 0 0 $verticalRhythm+px -20%;
		text-align: center;
	}
}

.post .table-wrapper {
	@include respond-min(900) {
		width: 140%;
		margin: 0 0 $verticalRhythm+px -20%;
	}
}


/*
   Article item
   ========================================================================== */

.articles {
	width: 92%;
	max-width: 860px;
	margin: 0 auto;
	padding: 0;
}
	.articles-subhead {
		font-family: $alt-font-family;
		@include font-size(20);
		padding-bottom: $verticalRhythm/4 + px;
		margin-bottom: 0;
	}
	.articles-item {
		display: block;
		padding: 0 10px 20px 0;
		border: 0 solid transparent;
		border-right: 8px solid transparent;
		@include prefixer(transition, 300ms ease-in-out, webkit moz o spec);


		&:hover,
		&:focus {
			text-decoration: none;

			.csstransitions & {
				border-left: 8px solid #333;
				border-right: 0 solid transparent;
				padding: 0 0 20px 10px;

				background: darken($eggshell, 2%);
				@include prefixer(transition, 300ms ease-in-out, webkit moz o spec);
			}
 		}

 		.blog &:last-child {
			border-bottom: none;
			box-shadow: none;
 		}
	}
		.articles-item-title {
			margin: 10px 0;
		}
		 .articles-item-description {
		 	margin: 0;
		 	max-width: 660px;
		 }

		 .articles-item-title,
		 .articles-item-description {
	 		a & {
				color: #333;
				@include prefixer(transition, 200ms ease-in-out, webkit moz o spec);
			}
		}
		.articles-item-title {
			a:hover &,
			a:focus & {
				color: $red;
				@include prefixer(transition, 200ms ease-in-out, webkit moz o spec);
	 		}
		 }

.separator-top,
%separator-top {
	box-shadow: 0 -1px 0 #4e5149;
	border-top: 1px solid #fff;
}
.separator-bottom,
%separator-bottom {
	box-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #4e5149;
}


/*
   About Page
   ========================================================================== */

.about-title {
	margin-bottom: $verticalRhythm/2 + px;
}
.about-module {
	padding-top: $verticalRhythm + px;
}

	.about-module-title {
		font-family: $alt-font-family;
		@include font-size(20);
	}

	.about-me {
		@extend %separator-bottom;

		@include respond-min($breakpoint-midupper) {
			border:0;
			box-shadow: none;
		}
	}
	.about-speaking {
		width: 100%;
	}

	.about-facts,
	.skills {
		line-height: 2;
		margin-bottom: 20px;
	}
		.about-facts-item,
		.skills-item {
			position: relative;
			padding-left: 30px;

			&:before {
				font-family: 'icons';
				position: absolute;
				left: 0;
				top: -2px;
			}
		}



		.skills-item:before {
			text-align: center;
			min-width: 20px;

			font-weight: normal;
			font-varient: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}


@include respond-min($breakpoint-midupper) {

	.about {
		overflow: hidden;
		margin: 0 3%;
		padding: 0;
	}
		.about-module {
			float: left;

			& > p {
				max-width: 660px;
			}
		}
		.about-me {
			width: 65%;
			padding-left: 2%;
			padding-right: 6%;

			box-shadow: 1px 0 0 #4e5149;
			border-right: 1px solid #fff;
		}
		.about-speaking {
			padding-left: 2%;
		}
		.about-contact,
		.about-skills {
			width: 35%;
			padding-left: 4%;
			padding-right: 4%;
		}
}

@include respond-min(1300) {
	.about {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
}


/*
   Comments
   ========================================================================== */

.comments {
	margin-top: $verticalRhythm*2 + px;
	padding-top: $verticalRhythm*2 + px;
	padding-bottom: $verticalRhythm + px;
}


/*
   Footer
   ========================================================================== */

footer {
	padding-bottom: 30px;
}
	.footer-content {
		margin: 20px auto 0;

		@include respond-min(600) {
			max-width: 800px;
			text-align: center;
		}
	}





/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media Queries
   Credit: http://dev.mattnt.com/retina-results.html
   ========================================================================== */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

	// * {
	// 	background-image: url(@imgSprite2x);
	// 	background-size: @imgSpriteDimensions;
	// }

}

