

/* =============================================================================
   Navigation Elements
   ========================================================================== */

/* Main Navigation Bar
   ========================================================================== */

.nav-strip {
	background:#000;
	display:block;

	min-width:0;
	width:100%;
	height:auto;
	transition:margin .25s ease-in-out;

	.ie7 & {
		min-width:0;
	}
}


.nav-global {
	float:none;
	width:100%;
	margin:0 auto;
}
	.nav-global > ul {
		width:100%;
	}
	.nav-global-item {
		position:relative;
		display: inline-block;
		width: 33%;
		padding: 2px;
		margin-bottom: 0;

		font-family: $alt-font-family;
		@include font-size(18);
		border:1px solid $darkgrey;

		@include respond-min($breakpoint-midupper) {
			width: auto;
		}

		.no-box-sizing & {
			width:48.5%;
			padding:2px 0.5%;
		}

		&:first-child {
			width: 34%;

			@include respond-min($breakpoint-midupper) {
				width: auto;
			}
		}

		&:first-child,
		&:nth-child(2) {
			border-bottom: 0;
			border-right: 0;
		}

	}
		.nav-global-item a {
			position:relative;
			z-index:2;
			//overflow: hidden;
			display:block;
			text-decoration:none;

			text-align:center;
			letter-spacing:1px;
			color:#ced4c9;

			padding:4px 0;
			border:1px solid #CFD5C9;

			@include prefixer(transition, color 250ms linear, webkit moz o spec);

			@include respond-min($breakpoint-midupper) {
				width: 140px;
			}

			// &:before {
			// 	content: attr(data-hover);
			// 	display: block;
			// 	width: 100%;


			// 	position: absolute;
			// 	top: -110%;
			// 	left: 0;
			// 	background: #ced4c9;
			// 	color: #000;
			// 	line-height: 1.9;

			// 	@include prefixer(transition, 250ms ease-out, webkit moz o spec);
			// }
		}
			.nav-global-item a:hover,
			.nav-global-item.active a {
				color:#fff;
				//background: #ced4c9;
				// &:before {
				// 	top: 0;
				// }

				@include prefixer(transition, 250ms ease-out, webkit moz o spec);
			}

		/* Arrow highlighting active
			couldn't do with after, as they wouldn't animate on hover :(
		*/
		.nav-global-item .navArrow {
			width:0;
			height:0;
			text-decoration:none;

			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 8px solid #000;


			position:absolute;
			z-index:1;
			left:50%;
			bottom:0;
			margin-left:-12px;

			@include prefixer(transition, bottom 150ms linear, webkit moz o spec);
		}

			/* Arrow highlighting active */
			.nav-global-item:hover .navArrow,
			.nav-global-item.active .navArrow {
				bottom:-8px;

				@include prefixer(transition, bottom 150ms linear, webkit moz o spec);
			}