<footer class="c-siteFooter border-grey-white-top">
	{{> social-links }}

	<div class="c-siteFooter-content">
		<p>I'm Ashley Watson-Nolan, a Principal UI Engineer at Just Eat Takeaway. Do take a look around, or contact me in any of
			the usual ways – it'd be great to hear from you.</p>
	</div>
</footer>
