<!-- Social links -->
<nav class="c-socialLinks">
	<ul class="c-socialLinks-list">
		<li class="c-socialLinks-item c-socialLinks-email">
			<a href="mailto:hello@ashleynolan.co.uk" class="c-socialLinks-link" title="Send me an Email"
				rel="external" target="_blank">
				{{inlineSVG "./src/assets/img/icons/envelope.svg" }}
			</a>
		</li>
		<li class="c-socialLinks-item c-socialLinks-twitter">
			<a href="http://twitter.com/WelshAsh_"
				class="c-socialLinks-link" title="Find me on Twitter" rel="external" target="_blank">
				{{inlineSVG "./src/assets/img/icons/twitter.svg" }}
			</a>
		</li>
		<li class="c-socialLinks-item c-socialLinks-linkedin">
			<a href="http://uk.linkedin.com/pub/ashley-nolan/16/980/684"
				class="c-socialLinks-link" title="Find me on LinkedIn" rel="external" target="_blank">
				{{inlineSVG "./src/assets/img/icons/linkedin.svg" }}
			</a>
		</li>
	</ul>
</nav>
