---
title: …a bit about me
url: about
---

<section class="content about separator-top">
	<section class="about-module separator-bottom">
		<h1 class="about-title">{{title}}</h1>
		<ul class="about-facts unstyled">
			<li class="about-facts-item about-facts-age">29 years, 277 days</li>
			<li class="about-facts-item about-facts-birthplace">Caerleon, Wales</li>
			<li class="about-facts-item about-facts-location">London, UK</li>
		</ul>

		<p>I'm Ashley Nolan, a Creative Technologist working at <a href="http://www.tmw.co.uk">TMW</a>. I enjoy playing around with new technologies and working out how to actually use them across our projects.</p>
		<p>I’m also a passionate Welshman – although I couldn't sound less Welsh if I tried to.</p>
		<p>If you want to find out a bit more about me, <a title="A brief history of me" href="blog/a-brief-history-of-me">go ahead and take a look</a>, find me on <a href="twitter.com/AshNolan_">Twitter</a> or drop me an <a href="mailto:contact@dragongraphics.co.uk">email</a> – it'd be great to hear from you.</p>
	</section>
	<section class="about-module about-contact separator-bottom">
		<h2 class="gamma">Where to find me</h2>
		<nav class="buttons-social">
			<ul>
				<li class="buttons-social-item email">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="mailto:contact@dragongraphics.co.uk" class="social-button-btn" title="Email Me" rel="external">
								Email
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item twitter">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="https://twitter.com/AshNolan_" class="social-button-btn social-button-small" title="AshNolan_ on Twitter" rel="external">
								Twitter
							</a>
							<a href="https://twitter.com/AshNolan_" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @bennettfeely</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item github">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="https://github.com/ashleynolan" class="social-button-btn" title="AshleyNolan - github" rel="external">
								Github
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item linkedin">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="http://uk.linkedin.com/pub/ashley-nolan/16/980/684" class="social-button-btn" title="My LinkedIn Profile" rel="external">
								LinkedIn
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item delicious">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="http://www.delicious.com/ashleynolan" class="social-button-btn" title="What I'm reading on Delicious" rel="external">
								Delicious
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item rss">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="rss-feed.rss" class="social-button-btn" title="Dragon Graphics RSS Feed" rel="external">
								RSS
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
			</ul>
		</nav>
	</section>
	<section class="about-module about-skills separator-bottom">
		<h2 class="gamma">Skills</h2>

		<ul>
			<li>HTML5</li>
			<li>CSS &amp; CSS3</li>
			<li>JavaScript</li>
			<li>PHP</li>
			<li>Pool shark</li>
		</ul>
	</section>
	<section>

	</section>
</section>