---
title: About me
url: about
age: <%= new Date("Apr 09 1984 00:00:00 GMT+0000 (GMT)") %>

rss: false
---

<section class="content about separator-top">
	<section class="about-module about-me">
		<h1 class="about-title">{{title}}</h1>
		<ul class="about-facts unstyled">
			<li id="age" class="about-facts-item about-facts-age icon-calendar" data-age="{{age}}">30</li>
			<li class="about-facts-item about-facts-birthplace icon-home">Caerleon, Wales</li>
			<li class="about-facts-item about-facts-location icon-pin">Newport/Bristol, UK</li>
		</ul>

		<p>I'm Ashley Nolan, a Senior UI Engineer working at <a href="http://tech.just-eat.com/">JUST EAT</a>.</p>
		<p>I enjoy architecting large scale front-ends, playing around with new technologies and the challenge of the ever changing world of front-end technology.</p>
		<p>I’m also a passionate Welshman – although I couldn't sound less Welsh if I tried.</p>
		<p>If you want to find out a bit more about me, <a title="A brief history of me" href="blog/a-brief-history-of-me">go ahead and take a look</a>, find me on <a href="http://www.twitter.com/AshNolan_" rel="external">Twitter</a> or drop me an <a href="mailto:hello@ashleynolan.co.uk">email</a> – it'd be great to hear from you.</p>
	</section>
	<section class="about-module about-contact separator-bottom">
		<h2 class="about-module-title">Get in touch</h2>
		<nav class="buttons-social">
			<ul>
				<li class="buttons-social-item email">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="mailto:hello@ashleynolan.co.uk" class="social-button-btn" title="Email Me" rel="external">
								Email
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie icon-email"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie icon-email"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item twitter">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="https://twitter.com/AshNolan_" class="social-button-btn social-button-small" title="AshNolan_ on Twitter" rel="external">
								Twitter
							</a>
							<a href="https://twitter.com/AshNolan_" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AshNolan_</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie icon-twitter"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie icon-twitter"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item github">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="https://github.com/ashleynolan" class="social-button-btn" title="AshleyNolan - github" rel="external">
								Github
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie icon-github"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie icon-github"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
				<li class="buttons-social-item linkedin">
					<div class="social-button">
						<div class="social-button-reveal">
							<a href="http://uk.linkedin.com/pub/ashley-nolan/16/980/684" class="social-button-btn" title="My LinkedIn Profile" rel="external">
								LinkedIn
							</a>
						</div>
						<div class="social-button-cover">
						<div class="social-button-innie icon-linkedin-shaded"></div>
						<div class="social-button-spine"></div>
						<div class="social-button-outie icon-linkedin-shaded"></div>
						</div>
						<div class="social-button-shadow"></div>
					</div>
				</li>
			</ul>
		</nav>
	</section>

	<section class="about-module about-skills">
		<h2 class="about-module-title">Skills</h2>

		<ul class="skills unstyled">
			<li class="skills-item skills-html5 icon-html5">HTML5</li>
			<li class="skills-item skills-css icon-css">CSS &amp; CSS3</li>
			<li class="skills-item skills-js icon-js">JavaScript</li>
			<li class="skills-item skills-git icon-git">Git</li>
			<li class="skills-item skills-pool icon-pool">Pool shark</li>
		</ul>
	</section>

	<section class="about-module about-speaking separator-top">
		<h2 class="about-module-title">Speaking</h2>

		<h3 class="about-module-title">Future events</h3>
		<ul>
			<li><a href="https://skillsmatter.com/conferences/7278-fullstack-2016-the-conference-on-javascript-node-and-internet-of-things#program" rel="external">FullStack 2016 – July 13th 2016 – Developing for the Unknown</a></li>
		</ul>
		<p><!-- I've got no future talks lined up right now.  -->If you'd like me to speak at your event, please do <a href="mailto:hello@ashleynolan.co.uk">get in touch</a>.</p>

		<h3 class="about-module-title">Previous events</h3>
		<ul>
			<li><a href="http://port80events.co.uk/event/port-80-2016/#speaker5" rel="external">Port80 – May 20th 2016 – Developing for the Unknown</a></li>
			<li><a href="http://2015.briste.ch/" rel="external">Bristech</a> – October 15th 2015 – <a href="https://www.youtube.com/watch?v=_ZhRTLDzKJw" rel="external">Exploring our Front-end Workflows</a></li>
			<li><a href="http://digitalcroydon.net/event/" rel="external">Digital Croydon</a> – July 16th 2015 – Exploring our Front-end Workflows</li>
			<li><a href="http://www.frontendlondon.co.uk/" rel="external">Front End London</a> – June 2014 – Know Thy Interaction</li>
			<li><a href="http://www.shropgeek.co.uk/events/rebellion-6-22-5-14/" rel="external">Shropgeek Rebellion</a> – Shrewsbury – May 2014 – <a href="http://www.shropgeek.co.uk/shropgeek-tv/know-thy-interaction/" rel="external">Know Thy Interaction</a></li>
			<li><a href="http://lanyrd.com/2013/digitalbarn/" rel="external">The Digital Barn</a> – Barnsley – 2013 – Scaling Responsively</li>
			<li><a href="http://lanyrd.com/2013/feloneday/" rel="external">Front-end London</a> – One Day Event – 2013 – <a href="http://lanyrd.com/2013/feloneday/" rel="external">Scaling Responsively</a></li>
			<li>AKQA Anoraks – London – 2013 – Scaling Responsively</li>
		</ul>
	</section>
</section>
