---
title: My Work
url: work

rss: false
---

<section class="content work">
	<nav class="nav-work">
		<a href="#client" class="nav-work-link btn">Client Work</a>
		<a href="#labs" class="nav-work-link btn ">Labs and Open Source</a>
	</nav>
	<div class="work-content">
		<section class="work-section work-section--clients">
			<article id="activision" class="work-item separator-top">
				<time class="work-item-time">2015</time>
				<h2 class="work-item-title">JUST EAT</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="JUST EAT Logo" data-img-320="assets/img/work/work-justeat-small.jpg" data-img-480="assets/img/work/work-justeat-mid.jpg" data-img-max="assets/img/work/work-justeat.jpg">
					<noscript>
						<img src="assets/img/work/work-justeat.jpg" width="900" height="510" alt="JUST EAT Logo" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>In May 2015, I started work as part of the International Platform Improvements team at JUST EAT.</p>
					<p>My role is to help improve the front-end architecture and process across all of JUST EAT’s international websites.</p>
				</div>
			</article>

			<article id="activision" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">Activision – Skylanders</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the team at the Skylanders launch event" data-img-320="assets/img/work/work-skylanders-small.jpg" data-img-480="assets/img/work/work-skylanders-mid.jpg" data-img-max="assets/img/work/work-skylanders.jpg">
					<noscript>
						<img src="assets/img/work/work-skylanders.jpg" width="900" height="510" alt="Picture of the team at the Skylanders launch event" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>For the launch of Skylanders Trap Team, TMW worked to create a launch experience that would connect across social channels and engage with those at the event.</p>
					<p>We created a Twitter controlled baseball bat, that hit a Pinata – shaped like a bad guy from the game – every time someone tweeted with the event hashtag.</p>
					<p>I worked on the interface and message passing between the tweets and the Arduino controlled bat.</p>
					<p>The event was a great success with thousands of tweets recieved during the 3 hour event and the live stream coverage watched by hundreds online.</p>
				</div>
			</article>

			<article id="lynxpeace" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">Lynx Peace</h2>

				<a href="http://www.lynxpeace.com" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the Lynx Peace Site" data-img-320="assets/img/work/work-lynxpeace-small.jpg" data-img-480="assets/img/work/work-lynxpeace-mid.jpg" data-img-max="assets/img/work/work-lynxpeace.jpg">
						<noscript>
							<img src="assets/img/work/work-lynxpeace.jpg" width="900" height="510" alt="Picture of the Lynx Peace Site" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>I led the development for the launch of the Lynx Peace campaign website.</p>
					<p>A 3 month development project, I worked closely with the design team to create a site that is dynamic and visual, while working across a wide range of devices.</p>

					<a href="http://www.lynxpeace.com/" class="btn" rel="external">Visit site</a>
				</div>
			</article>
			<article id="bbcgoodfood" class="work-item separator-top">
				<time class="work-item-time">2013</time>
				<h2 class="work-item-title">BBC GoodFood</h2>

				<a href="http://www.bbcgoodfood.com/" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the BBC GoodFood Site" data-img-320="assets/img/work/work-bbc-small.jpg" data-img-480="assets/img/work/work-bbc-mid.jpg" data-img-max="assets/img/work/work-bbc.jpg">
						<noscript>
							<img src="assets/img/work/work-bbc.jpg" width="900" height="510" alt="Picture of the BBC GoodFood Site" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>I was the lead front-end developer on the BBC GoodFood responsive redesign.</p>
					<p>Lasting around 10 months, I worked closely with the team at BBC Worldwide to create a beautiful new experience that works across devices.</p>
					<p>I have subsequently talked at events about the project including <a href="http://lanyrd.com/2013/feloneday/" rel="external">Front-end London</a>, <a href="http://makedo.in/thedigitalbarn/" rel="external">The Digital Barn</a> and AKQA Anoraks (now <a href="http://www.techinsight.io/" rel="external">Tech Insight</a>).</p>

					<a href="http://www.bbcgoodfood.com/" class="btn" rel="external">Visit site</a>
				</div>
			</article>

			<article id="lynxmassdebates" class="work-item separator-top">
				<time class="work-item-time">2013</time>
				<h2 class="work-item-title">Lynx Mass Debates</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the Lynx Mass Debates website" data-img-320="assets/img/work/work-lynxmassdebates-small.jpg" data-img-480="assets/img/work/work-lynxmassdebates-mid.jpg" data-img-max="assets/img/work/work-lynxmassdebates.jpg">
					<noscript>
						<img src="assets/img/work/work-lynxmassdebates.jpg" width="900" height="510" alt="Picture of the Lynx Mass Debates website" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>Starting out as a labs project, Lynx Mass Debates is a site driven by Twitter data sent through in realtime.</p>
					<p>The site uses Node.js, connected up to the Twitter streaming API, to watch and display details of what people are talking about, visually displaying the results on screen.</p>
				</div>
			</article>

			<article id="uncharted3" class="work-item separator-top">
				<time class="work-item-time">2012</time>
				<h2 class="work-item-title">Uncharted 3</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of Drake from Uncharted 3" data-img-320="assets/img/work/work-uncharted-small.jpg" data-img-480="assets/img/work/work-uncharted-mid.jpg" data-img-max="assets/img/work/work-uncharted.jpg">
					<noscript>
						<img src="assets/img/work/work-uncharted.jpg" width="900" height="510" alt="Picture of Drake from Uncharted 3" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>I was lead front-end developer working on an advertising piece for the launch of Uncharted 3; an interactive JavaScript/Flash Facebook takeover game.</p>
					<p>This was launched via an extension or bookmarklet downloaded by the user, dependent on the users browser, which then launched a game that overlaid their Facebook profile page.</p>
				</div>
			</article>


			<article id="ford" class="work-item separator-top">
				<time class="work-item-time">2012</time>
				<h2 class="work-item-title">Ford Interactive Showcase</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Ford interactive showcase website" data-img-320="assets/img/work/work-ford-small.jpg" data-img-480="assets/img/work/work-ford-mid.jpg" data-img-max="assets/img/work/work-ford.jpg">
					<noscript>
						<img src="assets/img/work/work-ford.jpg" width="900" height="510" alt="Image of the Ford interactive showcase website" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>In late 2012, I worked on an internal Ford project, creating an interactive infographic using CSS3 and Javascript.</p>
					<p>The site used Raphael and CSS3 animations, fired by Javascript on user interaction and scrolling to bring the varying visuals to life.</p>
				</div>
			</article>

			<article id="trinitylaban" class="work-item separator-top">
				<time class="work-item-time">2010</time>
				<h2 class="work-item-title">Trinity Laban</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of a dancer from Trinity Laban" data-img-320="assets/img/work/work-trinity-small.jpg" data-img-480="assets/img/work/work-trinity-mid.jpg" data-img-max="assets/img/work/work-trinity.jpg">
					<noscript>
						<img src="assets/img/work/work-trinity.jpg" width="900" height="510" alt="Image of a dancer from Trinity Laban" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>In late 2010, I worked with Trinity Laban to create their first online digital Prospectus.</p>
					<p>The site delivered a customisable experience unique for each user, utilising SVG, HTML5 geolocation and JavaScript to create an immersive, visual prospectus.</p>
				</div>
			</article>

			<article id="tpr" class="work-item separator-top">
				<time class="work-item-time">2010</time>
				<h2 class="work-item-title">The Pensions Regulator</h2>

				<a href="http://www.thepensionsregulator.gov.uk/" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a money bank" data-img-320="assets/img/work/work-pensions-regulator-small.jpg" data-img-480="assets/img/work/work-pensions-regulator-mid.jpg" data-img-max="assets/img/work/work-pensions-regulator.jpg">
						<noscript>
							<img src="assets/img/work/work-pensions-regulator.jpg" width="900" height="510" alt="Picture of a money bank" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>While working at Precedent, I worked on the rebuild of the Pensions Regulator website, which detailed the changes in pensions regulations for individuals and companies.</p>
					<p>The site required a very modular and scalable approach to deliver a site that could be managed externally on handover, while designing for a site that holds a vast amount of content.</p>

					<a href="http://www.thepensionsregulator.gov.uk/" class="btn" rel="external">Visit site</a>
				</div>
			</article>

			<article id="rspca" class="work-item separator-top">
				<time class="work-item-time">2009</time>
				<h2 class="work-item-title">RSPCA</h2>

				<a href="http://www.politicalanimal.org.uk/" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a Tiger and the RSPCA logo" data-img-320="assets/img/work/work-rspca-small.jpg" data-img-480="assets/img/work/work-rspca-mid.jpg" data-img-max="assets/img/work/work-rspca.jpg">
						<noscript>
							<img src="assets/img/work/work-rspca.jpg" width="900" height="510" alt="Picture of a Tiger and the RSPCA logo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>During my time at Precedent, I was the lead front-end developer across all of the RSPCA's UK Political Animal websites, as well as being involved in work for RSPCA Australia.</p>
					<p>This culminated in working on their 2010 General Election website, working closely with designer <a href="http://www.lukefry.com/" rel="external">Luke Fry</a>.</p>
					<p>During my time working with the RSPCA, we successfullty evolved their brand, building a website very different from the conventional RSPCA offering, while keeping the identity of the charity at the heart of the project.</p>

					<a href="http://www.politicalanimal.org.uk/" class="btn" rel="external">Visit Political Animal Site</a>
					<a href="http://www.politicalanimal.org.au/" class="btn" rel="external">Visit AU Elections Site</a>
				</div>
			</article>

			<article id="aygo" class="work-item separator-top">
				<time class="work-item-time">2006</time>
				<h2 class="work-item-title">Toyota AYGO</h2>

				<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a Toyota AYGO" data-img-320="assets/img/work/work-aygo-small.jpg" data-img-480="assets/img/work/work-aygo-mid.jpg" data-img-max="assets/img/work/work-aygo.jpg">
					<noscript>
						<img src="assets/img/work/work-aygo.jpg" width="900" height="510" alt="Picture of a Toyota AYGO" />
					</noscript>
				</div>

				<div class="work-item-description">
					<p>I was lucky enough to be involved in the UK Trainer Launch of the Toyota AYGO, creating digital learning materials and activities for dealerships to engage with over the week long event.</p>
				</div>
			</article>
		</section>

	<!-- LABS SECTIONED CONTENT -->
		<section id="labs" class="work-section work-section--labs">
			<article id="labs-kickoff" class="work-item separator-top">
				<time class="work-item-time">2015</time>
				<h2 class="work-item-title">Kickoff</h2>

				<a href="http://trykickoff.github.io/" title="Visit the Kickoff Documentation Site" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Kickoff Logo" data-img-320="assets/img/work/work-kickoff-small.jpg" data-img-480="assets/img/work/work-kickoff-mid.jpg" data-img-max="assets/img/work/work-kickoff.jpg">
						<noscript>
							<img src="assets/img/work/work-kickoff.jpg" width="900" height="510" alt="Image of the Kickoff Logo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>Developed in partnership with <a href="https://twitter.com/mrmartineau" rel="external">Zander Martineau</a>, <a href="http://trykickoff.github.io/" title="Visit the Kickoff Documentation Site">Kickoff</a> is a lightweight, flexible and robust front-end framework that is a great starting point for any web site.</p>
					<p>Kickoff aims to help devs get up and running as quickly as possible without adding the bloat that other frameworks can lead to.</p>
					<p>The framework includes a Sass-based CSS framework, a responsive grid system, beautiful typographic styles, JavaScript helpers, utilities and a great set of boilerplates for a number of eventualities.</p>

					<a href="http://trykickoff.github.io/" class="btn" rel="external">View documentation</a>
				</div>
			</article>


			<article id="labs-statix" class="work-item separator-top">
				<time class="work-item-time">2015</time>
				<h2 class="work-item-title">Statix</h2>

				<a href="http://trykickoff.github.io/statix/" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Statix Logo" data-img-320="assets/img/work/work-statix-small.jpg" data-img-480="assets/img/work/work-statix-mid.jpg" data-img-max="assets/img/work/work-statix.jpg">
						<noscript>
							<img src="assets/img/work/work-statix.jpg" width="900" height="510" alt="Image of the Statix Logo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>Developed in partnership with <a href="https://twitter.com/mrmartineau" rel="external">Zander Martineau</a>, Statix makes creating and working with static HTML templates quick and easy.</p>
					<p>Statix is built on top of Assemble, Kickoff and Grunt with the aim of harnessing the power of all three to give developers a solid starting point when building static sites or templating designs.</p>

					<a href="http://trykickoff.github.io/statix/" class="btn" rel="external">View documentation</a>
				</div>
			</article>


			<article id="labs-toggles" class="work-item separator-top">
				<time class="work-item-time">2015</time>
				<h2 class="work-item-title">Creative toggle button examples</h2>

				<a href="http://codepen.io/ashleynolan/pen/wBppKz" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Animated image of one of the toggle buttons" data-img-320="assets/img/work/work-toggles-small.gif" data-img-480="assets/img/work/work-toggles-mid.gif" data-img-max="assets/img/work/work-toggles.gif">
						<noscript>
							<img src="assets/img/work/work-toggles.gif" width="900" height="510" alt="Animated image of one of the toggle examples" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>A collection of creative toggle button demos created using CSS3.</p>
					<p>Inspired by a whole host of images on dribbble (see the demo details for links).</p>

					<a href="http://codepen.io/ashleynolan/pen/wBppKz" class="btn" rel="external">See the demo</a>
				</div>
			</article>


			<article id="labs-textshadow" class="work-item separator-top">
				<time class="work-item-time">2015</time>
				<h2 class="work-item-title">A collection of CSS text-shadow and pattern effects</h2>

				<a href="http://codepen.io/ashleynolan/pen/QwvKaw" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the text shadow effect created in the demo" data-img-320="assets/img/work/work-textshadow-small.gif" data-img-480="assets/img/work/work-textshadow-mid.gif" data-img-max="assets/img/work/work-textshadow.gif">
						<noscript>
							<img src="assets/img/work/work-textshadow.gif" width="900" height="510" alt="Image of the text shadow effect created in the demo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>Wanting to explore the simple text-shadow, I created a number of visual effects that could be created by layering text-shadows.</p>

					<p>For more info, <a href="/blog/playing-around-with-css-text-shadow">see the associated blog post</a>.</p>

					<a href="http://codepen.io/ashleynolan/pen/QwvKaw" class="btn" rel="external">See the demo</a>
				</div>
			</article>


			<article id="labs-christmastracker" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">Christmas Tracker</h2>

				<a href="http://www.christmastracker.com" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Christmas Tracker website" data-img-320="assets/img/work/work-christmastracker-small.jpg" data-img-480="assets/img/work/work-christmastracker-mid.jpg" data-img-max="assets/img/work/work-christmastracker.jpg">
						<noscript>
							<img src="assets/img/work/work-christmastracker.jpg" width="900" height="510" alt="Image of the Christmas Tracker website" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>A personal project I setup for Christmas 2014.</p>
					<p>The site tracks a number of words related to Christmas on Twitter and displays the results in realtime each day.</p>

					<p>For more info, <a href="/blog/christmas-tracker-a-node-realtime-experiment">see the associated blog post</a>.</p>

					<a href="http://www.christmastracker.com" class="btn" rel="external">See the site</a>
				</div>
			</article>


			<article id="labs-loaders" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">2D and 3D Loaders</h2>

				<a href="http://codepen.io/ashleynolan/pen/owvcl" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Animated image of one of the loader examples" data-img-320="assets/img/work/work-loaders-small.gif" data-img-480="assets/img/work/work-loaders-mid.gif" data-img-max="assets/img/work/work-loaders.gif">
						<noscript>
							<img src="assets/img/work/work-loaders.gif" width="900" height="510" alt="Animated image of one of the loader examples" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>A selection of 2D and 3D loaders all based around a row of 6 blocks.</p>
					<p>The example uses CSS3 animation and transforms to create a variety of subtle loading effects.</p>
					<p>Inspired by the loading animation on the PSN mobile site (which uses the Flip Delay Up example for their loader).</p>

					<p>For more info, <a href="/blog/a-collection-of-animated-loaders">see the associated blog post</a>.</p>

					<a href="http://codepen.io/ashleynolan/pen/owvcl" class="btn" rel="external">See the demo</a>
				</div>
			</article>

			<article id="labs-animals" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">CSS Animals</h2>

				<a href="http://codepen.io/ashleynolan/pen/fkazq" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of CSS animals demo" data-img-320="assets/img/work/work-animals-small.jpg" data-img-480="assets/img/work/work-animals-mid.jpg" data-img-max="assets/img/work/work-animals.jpg">
						<noscript>
							<img src="assets/img/work/work-animals.jpg" width="900" height="510" alt="Picture of CSS animals demo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>A collection of animals made purely with CSS3.</p>
					<p>This was a bit of an experiment playing around with making animals out of as few elements as I could using only CSS.</p>
					<p>Inspired by <a href="https://dribbble.com/shots/577826-Cats-for-Kassie/attachments/44546">Matt Scribner's drawings on Dribbble</a>.</p>

					<a href="http://codepen.io/ashleynolan/pen/fkazq" class="btn" rel="external">See the demo</a>
				</div>
			</article>


			<article id="labs-buttons" class="work-item separator-top">
				<time class="work-item-time">2014</time>
				<h2 class="work-item-title">3D Paper button effects</h2>

				<a href="http://codepen.io/ashleynolan/pen/djpCG" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of 3d paper buttons demo" data-img-320="assets/img/work/work-buttons-small.jpg" data-img-480="assets/img/work/work-buttons-mid.jpg" data-img-max="assets/img/work/work-buttons.jpg">
						<noscript>
							<img src="assets/img/work/work-buttons.jpg" width="900" height="510" alt="Picture of 3d paper buttons demo" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>I made this demo to try out and illustrate some of the subtle button effects you can create just using box-shadow and borders on pseudo–elements.</p>
					<p>Inspired by <a href="http://beemuse.com/paper">the work I saw a while back over on Beemuse</a> and so this is a heavily tweaked more dynamic version of those effects.</p>
					<p>For more info, <a href="/blog/creating-button-effects-with-box-shadows-and-border-radius">see the associated blog post</a>.</p>

					<a href="http://codepen.io/ashleynolan/pen/djpCG" class="btn" rel="external">See the demo</a>
				</div>
			</article>


			<article id="labs-mediaquerymario" class="work-item separator-top">
				<time class="work-item-time">2012</time>
				<h2 class="work-item-title">Media Query Mario</h2>

				<a href="http://codepen.io/ashleynolan/pen/rpjHg" rel="external">
					<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of Mario" data-img-320="assets/img/work/work-mario-small.jpg" data-img-480="assets/img/work/work-mario-mid.jpg" data-img-max="assets/img/work/work-mario.jpg">
						<noscript>
							<img src="assets/img/work/work-mario.jpg" width="900" height="510" alt="Image of Mario" />
						</noscript>
					</div>
				</a>

				<div class="work-item-description">
					<p>A demo created for the MDN Dev Derby, back in October 2012</p>
					<p>Built using a mix of CSS and JavaScript, it‘s aim was to show how media queries could be used in new and inventive ways</p>
					<p>The demo subsequently trended on Hacker News and Reddit, leading me to write an article about <a href="https://hacks.mozilla.org/2012/11/the-making-of-a-hack-media-query-mario/" rel="external">the making of the demo for MDN</a>.</p>
					<p>I recently added the demo to <a href="http://codepen.io/ashleynolan/pen/rpjHg">CodePen in mid–2014</a>, since which time it has been viewed over 50,000 times</p>

					<a href="http://codepen.io/ashleynolan/pen/rpjHg" class="btn" rel="external">See the demo</a>
				</div>
			</article>
		</section>
	</div>
</section>
