---
title: My Work
url: work
---

<section class="content work">
	<article id="bbcgoodfood" class="work-item separator-top">
		<time class="work-item-time">2013</time>
		<h2 class="work-item-title">BBC GoodFood</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the BBC GoodFood Site" data-img-320="assets/img/work/work-bbc-small.jpg" data-img-480="assets/img/work/work-bbc-mid.jpg" data-img-max="assets/img/work/work-bbc.jpg">
			<noscript>
				<img src="assets/img/work/work-bbc.jpg" width="900" height="510" alt="Picture of the BBC GoodFood Site" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>I was the lead front-end developer on the BBC GoodFood responsive redesign.</p>
			<p>Lasting around 10 months, I worked closely with the team at BBC Worldwide to create a beautiful new experience that works across devices.</p>
			<p>I have subsequently talked at events about the project including <a href="http://lanyrd.com/2013/feloneday/" rel="external">Front-end London</a>, <a href="http://makedo.in/thedigitalbarn/" rel="external">The Digital Barn</a> and AKQA Anoraks (now <a href="http://www.techinsight.io/" rel="external">Tech Insight</a>).</p>

			<a href="http://www.bbcgoodfood.com/" class="btn" rel="external">Visit site</a>
		</div>
	</article>

	<article id="lynxmassdebates" class="work-item separator-top">
		<time class="work-item-time">2013</time>
		<h2 class="work-item-title">Lynx Mass Debates</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of the Lynx Mass Debates website" data-img-320="assets/img/work/work-lynxmassdebates-small.jpg" data-img-480="assets/img/work/work-lynxmassdebates-mid.jpg" data-img-max="assets/img/work/work-lynxmassdebates.jpg">
			<noscript>
				<img src="assets/img/work/work-lynxmassdebates.jpg" width="900" height="510" alt="Picture of the Lynx Mass Debates website" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>Starting out as a labs project, Lynx Mass Debates is a site driven by Twitter data sent through in realtime.</p>
			<p>The site uses Node.js, connected up to the Twitter streaming API, to watch and display details of what people are talking about, visually displaying the results on screen.</p>
			<a href="http://www.lynxmassdebates.com/" class="btn" rel="external">Visit site</a>
		</div>
	</article>

	<article id="kickoff" class="work-item separator-top">
		<time class="work-item-time">2013</time>
		<h2 class="work-item-title">TMW Kickoff</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Kickoff Logo" data-img-320="assets/img/work/work-kickoff-small.jpg" data-img-480="assets/img/work/work-kickoff-mid.jpg" data-img-max="assets/img/work/work-kickoff.jpg">
			<noscript>
				<img src="assets/img/work/work-kickoff.jpg" width="900" height="510" alt="Image of the Kickoff Logo" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>Developed in partnership with <a href="https://twitter.com/mrmartineau" rel="external">Zander Martineau</a> at TMW, Kickoff is a robust, adaptable and unopinionated front-end framework that is great starting point for any web site; we use it on all of our front-end projects at TMW.</p>
			<p>The framework includes a SASS-based, CSS framework (with all the usual resets and mixins), a responsive grid system; beautiful typographic styles; javascript plugins, utilities and a great set of boilerplates for most eventualities. This means that our devs can get up and running as quickly as possible and not have to worry about this tedious initial step.</p>

			<a href="http://tmwagency.github.io/kickoff/" class="btn" rel="external">View documentation</a>
		</div>
	</article>

	<article id="uncharted3" class="work-item separator-top">
		<time class="work-item-time">2012</time>
		<h2 class="work-item-title">Uncharted 3</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of Drake from Uncharted 3" data-img-320="assets/img/work/work-uncharted-small.jpg" data-img-480="assets/img/work/work-uncharted-mid.jpg" data-img-max="assets/img/work/work-uncharted.jpg">
			<noscript>
				<img src="assets/img/work/work-uncharted.jpg" width="900" height="510" alt="Picture of Drake from Uncharted 3" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>I was lead front-end developer working on an advertising piece for the launch of Uncharted 3; an interactive JavaScript/Flash Facebook takeover game.</p>
			<p>This was launched via an extension or bookmarklet downloaded by the user, dependent on the users browser, which then launched a game that overlaid their Facebook profile page.</p>
		</div>
	</article>

	<article id="mediaquerymario" class="work-item separator-top">
		<time class="work-item-time">2012</time>
		<h2 class="work-item-title">Media Query Mario</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of Mario" data-img-320="assets/img/work/work-mario-small.jpg" data-img-480="assets/img/work/work-mario-mid.jpg" data-img-max="assets/img/work/work-mario.jpg">
			<noscript>
				<img src="assets/img/work/work-mario.jpg" width="900" height="510" alt="Image of Mario" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>A demo created for the MDN Dev Derby, back in October 2012</p>
			<p>Built using a mix of CSS and JavaScript, it‘s aim was to show how media queries could be used in new and inventive ways</p>
			<p>The demo subsequently trended on Hacker News and Twitter, leading me to write an article about <a href="https://hacks.mozilla.org/2012/11/the-making-of-a-hack-media-query-mario/" rel="external">the making of the demo for MDN</a>.</p>

			<a href="http://tmwagency.github.io/kickoff/" class="btn" rel="external">See the demo</a>
		</div>
	</article>

	<article id="ford" class="work-item separator-top">
		<time class="work-item-time">2012</time>
		<h2 class="work-item-title">Ford Interactive Showcase</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of the Ford interactive showcase website" data-img-320="assets/img/work/work-ford-small.jpg" data-img-480="assets/img/work/work-ford-mid.jpg" data-img-max="assets/img/work/work-ford.jpg">
			<noscript>
				<img src="assets/img/work/work-ford.jpg" width="900" height="510" alt="Image of the Ford interactive showcase website" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>In late 2012, I worked on an internal Ford project, creating an interactive infographic using CSS3 and Javascript.</p>
			<p>The site used Raphael and CSS3 animations, fired by Javascript on user interaction and scrolling to bring the varying visuals to life.</p>
		</div>
	</article>

	<article id="trinitylaban" class="work-item separator-top">
		<time class="work-item-time">2010</time>
		<h2 class="work-item-title">Trinity Laban</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Image of a dancer from Trinity Laban" data-img-320="assets/img/work/work-trinity-small.jpg" data-img-480="assets/img/work/work-trinity-mid.jpg" data-img-max="assets/img/work/work-trinity.jpg">
			<noscript>
				<img src="assets/img/work/work-trinity.jpg" width="900" height="510" alt="Image of a dancer from Trinity Laban" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>In late 2010, I worked with Trinity Laban to create their first online digital Prospectus.</p>
			<p>The site delivered a customisable experience unique for each user, utilising SVG, HTML5 geolocation and JavaScript to create an immersive, visual prospectus.</p>
			<p>The tool <a href="http://www.trinitylaban.ac.uk/programmes/create-your-prospectus/" rel="external">can still be used online</a> to create a prospectus, with the design and development holding up well since it was created over 3 years ago.</p>
		</div>
	</article>

	<article id="tpr" class="work-item separator-top">
		<time class="work-item-time">2010</time>
		<h2 class="work-item-title">The Pensions Regulator</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a money bank" data-img-320="assets/img/work/work-pensions-regulator-small.jpg" data-img-480="assets/img/work/work-pensions-regulator-mid.jpg" data-img-max="assets/img/work/work-pensions-regulator.jpg">
			<noscript>
				<img src="assets/img/work/work-pensions-regulator.jpg" width="900" height="510" alt="Picture of a money bank" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>While working at Precedent, I worked on the rebuild of the Pensions Regulator website, which detailed the changes in pensions regulations for individuals and companies.</p>
			<p>The site required a very modular and scalable approach to deliver a site that could be managed externally on handover, while designing for a site that holds a vast amount of content.</p>

			<a href="http://www.thepensionsregulator.gov.uk/" class="btn" rel="external">Visit site</a>

		</div>
	</article>

	<article id="rspca" class="work-item separator-top">
		<time class="work-item-time">2009</time>
		<h2 class="work-item-title">RSPCA</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a Tiger and the RSPCA logo" data-img-320="assets/img/work/work-rspca-small.jpg" data-img-480="assets/img/work/work-rspca-mid.jpg" data-img-max="assets/img/work/work-rspca.jpg">
			<noscript>
				<img src="assets/img/work/work-rspca.jpg" width="900" height="510" alt="Picture of a Tiger and the RSPCA logo" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>During my time at Precedent, I was the lead front-end developer across all of the RSPCA's UK Political Animal websites, as well as being involved in work for RSPCA Australia.</p>
			<p>This culminated in working on their 2010 General Election website, working closely with designer <a href-="http://www.lukefry.com/" rel="external">Luke Fry</a>.</p>
			<p>During my time working with the RSPCA, we successfullty evolved their brand, building a website very different from the conventional RSPCA offering, while keeping the identity of the charity at the heart of the project.</p>

			<a href="http://politicalanimal-eu.org.uk/" class="btn" rel="external">Visit EU election site</a>
			<a href="http://www.politicalanimal.org.uk/" class="btn" rel="external">Visit welsh local elections site</a>
			<a href="http://www.politicalanimal.org.au/" class="btn" rel="external">Visit AU elections site</a>
		</div>
	</article>

	<article id="aygo" class="work-item separator-top">
		<time class="work-item-time">2006</time>
		<h2 class="work-item-title">Toyota AYGO</h2>

		<div class="work-item-img adaptive-image" data-adaptive="" data-adaptive-image-breakpoints="320 480" data-alt="Picture of a Toyota AYGO" data-img-320="assets/img/work/work-aygo-small.jpg" data-img-480="assets/img/work/work-aygo-mid.jpg" data-img-max="assets/img/work/work-aygo.jpg">
			<noscript>
				<img src="assets/img/work/work-aygo.jpg" width="900" height="510" alt="Picture of a Toyota AYGO" />
			</noscript>
		</div>

		<div class="work-item-description">
			<p>I was lucky enough to be involved in the UK Trainer Launch of the Toyota AYGO, creating digital learning materials and activities for dealerships to engage with over the week long event.</p>
		</div>
	</article>
</section>