.icon,
[class^="icon"] {
	position: relative;
	font-family: 'icons';
	font-weight: normal;
	font-varient: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:after			{ content:"\e608"; }
.icon-email-shaded:after	{ content:"\e60f"; }
.icon-twitter:after 		{ content:"\e600"; }
.icon-github:after			{ content:"\e602"; }
.icon-linkedin:after		{ content:"\e605"; }
.icon-linkedin-shaded:after	{ content:"\e601"; }

.icon-html5:before 			{ content: '\e603';	}
.icon-css:before			{ content: '\e60c';	}
.icon-js:before				{ content: '\e60d';	}
.icon-git:before			{ content: '\e604';	}
.icon-pool:before			{ content: '\e609';	}

.icon-calendar:before		{ content: '\e60a';	}
.icon-home:before			{ content: '\e60e'; }
.icon-pin:before			{ content: '\e60b'; }

.icon-arrow-right			{ content: '\e606'; }
.icon-arrow-left			{ content: '\e607'; }