time {
	display: inline-block;
	font-family: $alt-font-family;
	@include font-size(20);
	font-weight: 400;
	color: #f9f9f9;

	.articles & {
		background: rgba(0, 0, 0, 0.35);
		padding: 2px 10px;

		text-shadow: #000 1px 1px 1px;
	}
}

.post-date {
	padding-top: $verticalRhythm*2 + px;
	margin-top: $verticalRhythm*4 + px;
}