
/* Homepage Carousel
   ========================================================================== */

	.homeCarousel {
		position:relative;
		left:0;

		width:100%;
		overflow:hidden;
		height:412px;
		padding-top:50px;
	}
		.homeCarousel-title {
			position:absolute;
			left:50%;
			top: 50px;
			z-index:2;
			background: $red;
			border: 1px solid #fff;

			box-shadow: 0px 0px 0px 1px #333;

			width:204px;
			padding: 15px 15px 10px;
			margin-left:-102px;

			font-family: $alt-font-family;
			@include font-size(28);
			color:#fff;
			text-align: center;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;

				width: 0;
				height: 0;
				margin-left: -7px;
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;

				border-top: 15px solid $red;
			}
		}
		.homeCarousel-wrapper {
			background: darken($eggshell, 10%);
			border-top: 1px solid #333;
			border-bottom: 1px solid #333;

			position:relative;
			width:3180px;
			height:322px;

			left:-1590px;
			margin:29px 0 0 50%;

		}
		.homeCarousel-carousel {
			float:left;
			width:10000px;
			margin:10px 0;
			padding:13px 0;
		}
			.homeCarousel-carousel-item {
				position: relative;
				float:left;
				border:2px solid black;
				margin-right:18px;

				border-image:url(../img/ui/border_double.png) 2 repeat;
			}
				.homeCarousel-carousel-item img {
					float:left;
				}
				.homeCarousel-carousel-item-title {
					opacity:0;
					position:absolute;
					bottom:-20px;
					width:100%;
					text-align:center;

					.csstransitions & {
						bottom:-25px;
						@include prefixer(transition, 250ms, webkit moz o spec);
					}
				}

					.homeCarousel-carousel-item-title h3 {
						display:inline-block;
						background:#000;
						padding:4px 16px;

						font-family: $alt-font-family;
						@include font-size(20);
						font-weight:normal;
						color:#CED4C9;

						border:1px solid #fff;
					}

				.homeCarousel a:hover .homeCarousel-carousel-item-title {
					opacity:1;
					bottom:-20px;

					@include prefixer(transition, 250ms, webkit moz o spec);
				}


		.homeCarousel-canvasFrame {
			position:absolute;
			z-index:1;
			left:50%;
			margin-left:-329px;
			margin-top:23px;

			//background:url(../img/ui/carousel_frame.png) no-repeat left top;
			background: darken($eggshell, 10%);

			border: 1px solid #333;
			border-top: none;
			border-bottom: none;

			@include font-size(0);

			/*padding:2px 22px;*/
			//display:none;
		}
			.homeCarousel-canvasFrame-link {
				display: block;
			}
			.homeCarousel-canvasFrame-canvas {
				margin:0 17px 0;
				border-image:url(../img/ui/border_double.png) 3 repeat;
			}



	.homeCarousel a:hover {
		cursor:pointer;
	}
	.carLeft,
	.carRight {
		position:absolute;
		top:54%;
		z-index:2;

		display:block;
		width: 60px;
		height: 60px;

		background: #333;
		box-shadow: 0 0 9px 0px #000 inset;
		border-radius: 50%;

		@include respond-min($breakpoint-mid) {
			width:91px;
			height:91px;
			top:50%;
		}
	}
	.carLeft {
		left:-20px;
		border-radius: 0 50% 50% 0;

		transition:left .25s linear;

		&:hover {
			left:-10px;

			transition:left .25s linear;
		}
	}
	.carRight {
		right:-20px;
		border-radius: 50% 0 0 50%;

		transition:right .25s linear;

		&:hover {
			right:-10px;

			transition:right .25s linear;
		}
	}
