{{> html_start }}
  <body>
	 <div class="container">
		<!-- nav partial -->
		{{> masthead }}


		<section class="content articles">


		</section>


		</div>
		{{> footer }}
	</div>
  </body>
</html>