
//  ====================
//  === SOCIAL LINKS ===
//  ====================

.links-social {
	float:none;

	width: 142px;
	margin:0 auto;
	overflow:hidden;

	& > ul {
		position: relative;
		z-index: 2;
	}

	& li {
		float:left;
		border:1px solid $darkgrey;
		margin:0 0 0 3px;
		padding:2px;
		background: $eggshell;

		&:first-child {
			margin:0;
		}
	}

	footer & {
		&:before {
			content: '';
			position: absolute;
			left: 3%;
			top: 21px;
			z-index: 1;

			width: 94%;
			height:1px;
			border-top: 1px solid #333;

			@include respond-min(1300) {
				width: 80%;
				left: 10%;
			}
		}
	}
}

	.links-social-item {
		&:first-child {
			border-left:1px solid $darkgrey;
		}
	}

	.links-social-item {
		> a {
			float:left;
			background-color:#CED4C9;
		}
	}
		.links-social-icon {
			float:left;
			border:1px solid #cfd5c9;

			width:36px;
			height:37px;

			background-color: #000;
			color: #fff;
			font-family: 'icons';
			text-align: center;
			vertical-align: middle;
			@include font-size(20);
			line-height: 1.7;

			font-weight: normal;
			font-varient: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			@include prefixer(transition, color 250ms linear, webkit moz o spec);

			/* fixing width for border-box compat */
			.no-box-shadow & {
				width:34px;
			}

			a:hover & {
				color:#be1e2d;
				text-decoration:none;


				@include prefixer(transition, color 250ms linear, webkit moz o spec);
			}
		}
		.screen-reader-text {
			position: absolute;
			top: 100%;
			left: 100%;
		}





.social-button,
.social-button div {
  transition-duration: .6s;
  @include prefixer(transition-duration, .6s, webkit moz o spec);
}

.social-button, .social-button-reveal {
	@include prefixer(transition-timing-function, ease, webkit moz o spec);
}

.social-button-btn {
	display: inline-block;
	@include linear-gradient(#fff, #dedede);
	height: 28px;
	border-radius: 4px;
	padding: 0 10px;
	border: #ccc solid 1px;
	font: normal normal normal 13px/18px 'Helvetica Neue',Arial,sans-serif;
	font-weight: bold;
	line-height: 26px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	width: 100%;

	&,
	&:visited {
		color: #333;
	}

	&:hover,
	&:focus,
	&:active {
		@include linear-gradient(#f8f8f8,#d9d9d9);
	}
}
.social-button-small {
	@include respond-min($breakpoint-mid) {
		width: 94px;
	}
}


.social-button-reveal {
	opacity: 0;
	text-align: center;
	@include prefixer(transition, 600ms 600ms ease, webkit moz o spec);

	> iframe {
		vertical-align: middle;
	}
}

.social-button-cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  @include prefixer(transform-origin, center bottom, webkit moz o spec);
  @include prefixer(transform-style, preserve-3d, webkit moz o spec);
  font: 26px/1.7 "icons";
  font-weight: normal;
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.social-button-innie, .social-button-outie, .social-button-spine, .social-button-shadow { position: absolute; width: 100%; }

.social-button-innie, .social-button-outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
  border-radius: .25rem;
}
.social-button-innie:after,
.social-button-outie:after {
	font-weight: normal;
	font-varient: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-button-innie {
	background: #333;
	text-shadow: 0 -2px 4px rgba(0,0,0,.2);

	.twitter & { background-color: #67E2FE; }
	.linkedin & { background-color: #284A6D; }
	.github & { background-color: #16a085; }
	.rss & { background-color: #e67e22; }
	.delicious & { background-color: #8e44ad; }
}

.social-button-spine {
  top: .25rem;
  background: #20C7F3;
  height: .25rem;
  @include prefixer(transform, rotateX(90deg), webkit moz o spec);
  @include prefixer(transform-origin, center top, webkit moz o spec);
}

.social-button-shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  @include prefixer(transform-origin, center top, webkit moz o spec);
  @include prefixer(transform, rotateX(90deg), webkit moz o spec);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;

}

.social-button-outie {
	background-color: #444;
	@include prefixer(transform, translateZ(.25rem), webkit moz o spec);
	text-shadow: 0 2px 4px rgba(0,0,0,.2);

	.twitter & { background-color: #2EC8FA; }
	.linkedin & { background-color: #284A6D; }
	.github & { background-color: #16a085; }
}


.buttons-social-item {
	position: relative;
	max-width: 300px;
	margin: 0 auto;

	@include respond-min($breakpoint-narrow) {
		width: 48%;
		max-width: 400px;
		display: inline-block;
		margin-right: -4px;

		&:nth-child(even) {
			margin-left: 4%;
		}
	}
	@include respond-min($breakpoint-midupper) {
		display: block;
		max-width: 300px;
		width: auto;
		margin:0 auto;

		&:nth-child(even) {
			margin-left: auto;
		}
	}
}
.social-button {
	position: relative;
	padding: .375rem .375rem 0;
	height: 2.5rem;
	background: #A9ADB6;
	border-radius: .25rem;
	@include prefixer(perspective, 300, webkit moz o spec);
	box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);

	width: 100%;
	margin: 0 auto 16px;

	//z-index issues
	.email & { z-index: 10; }
	.twitter & { z-index: 9; }
	.github & { z-index: 8; }
	.linkedin & { z-index: 7; }
	.delicious & { z-index: 6; }
	.rss & { z-index: 5; }

	.twitter & {
		iframe {
			@include respond-max($breakpoint-mid) {
				display: none;
			}
		}
	}

	&:hover {
		background: #EBEFF2;

		.social-button-reveal {
			opacity: 1;
			@include prefixer(transition, 600ms  ease, webkit moz o spec);
		}

		.social-button-cover,
		.social-button-innie,
		.social-button-spine,
		.social-button-outie,
		.social-button-spine {
			transition-timing-function: cubic-bezier(.2,.7,.1,1.1);
		}

		.social-button-cover {
			@include prefixer(transform, rotateX(-120deg), webkit moz o spec);
		}

		& .social-button-innie { background-color: #555; }
		& .social-button-spine { background-color: #333; }
		& .social-button-outie { background-color: #333; color: rgba(255,255,255,0); }

		.twitter & {
			& .social-button-innie { background-color: #3ADAFC; }
			& .social-button-spine { background-color: #52B1E0; }
			& .social-button-outie { background-color: #2174A0; }
		}

		.linkedin & {
			& .social-button-innie { background-color: #284A6D; }
			& .social-button-spine { background-color: #284A6D; }
			& .social-button-outie { background-color: #284A6D; }
		}
		.github & {
			& .social-button-innie { background-color: #16a085; }
			& .social-button-spine { background-color: #16a085; }
			& .social-button-outie { background-color: #16a085; }
		}
		.rss & {
			& .social-button-innie { background-color: #e67e22; }
			& .social-button-spine { background-color: #e67e22; }
			& .social-button-outie { background-color: #e67e22; }
		}
		.delicious & {
			& .social-button-innie { background-color: #8e44ad; }
			& .social-button-spine { background-color: #8e44ad; }
			& .social-button-outie { background-color: #8e44ad; }
		}


		.social-button-shadow {
		  opacity: 1;
		  @include prefixer(transform, rotateX(50deg) scale(.95), webkit moz o spec);
		}
	}
}

