<footer class="border-grey-white-top">
	<!-- Footer links -->
	<ul class="links-social unstyled">
		<li class="links-social-item links-social-email"><a href="mailto:contact@dragongraphics.co.uk" title="Email Me" rel="external" target="_blank"><span>Email</span></a></li>
		<li class="links-social-item links-social-twitter"><a href="http://twitter.com/dragongraphics" title="Find me on Twitter" rel="external" target="_blank"><span>Twitter</span></a></li>
		<li class="links-social-item links-social-linkedin"><a href="http://uk.linkedin.com/pub/ashley-nolan/16/980/684" title="My LinkedIn Profile" rel="external" target="_blank"><span>LinkedIn</span></a></li>
	</ul>

	 <div id="footer-content">
		 <p>I'm Ashley Nolan, a Creative Technologist at TMW, and this is where I post about whatever pops into my head (or riles me enough to write about it).  Do take a look around, or contact me in any of the usual ways - it'd be great to hear from you.</p>
	</div>
</footer>