<footer class="page-footer border-grey-white-top">
	{{> social-links }}

	 <div class="footer-content">
		 <p>I'm Ashley Nolan, a Senior UI Engineer at Just Eat.  Do take a look around, or contact me in any of the usual ways – it'd be great to hear from you.</p>
	</div>
</footer>
