<!-- <footer class="credits">
	<p class="text-centre">Tired of having to dig out good examples of interaction and animation techniques we wanted to show to others, The Visual Web was born.</p>
	<p class="text-centre">The site aims to highlight and keep track of great examples of interaction and animation on the web, as well as documenting examples we have developed ourselves, or that have been contributed by others.</p>

	<section class="contribute l-separator--bottom">
		<h3 class="mb0">If you would like to help contribute to the site - great! You can do so by taking a look at our <a href="/the-visual-web/docs/contributing.html">contribution guidelines</a>.</h3>

		<ol>
			<li>Submit an example link directly to us on <a href="http://www.twitter.com/dragongraphics">Twitter</a></li>
			<li>To add an interaction or animation technique you have created to the site, feel free to <a href="/kickoff/docs/editing.html">fork the repo and create a pull request</a> with your example code added.</li>
		</ol>
	</section>

<!-- 	<div class="row">
		<div class="col span8">
			<p>
			The Visual Web is maintained by <a href="http://www.twitter.com/dragongraphics">Ashley Nolan</a> and<br><a href="http://www.twitter.com/mrmartineau">Zander Martineau</a>
			</p>
		</div>
		<div class="col span4 social-links text-right">
			<a href="http://github.com/ashleynolan/the-visual-web" class="btn-primary">Github</a>
			<a href="https://twitter.com/the_visualweb" class="btn-primary">Twitter</a>
		</div>
	</div>


</footer>
 -->


<footer class="border-grey-white-top">
	<!-- Footer links -->
	<ul class="links-social">
		<li class="links-social-item links-social-email"><a href="mailto:contact@dragongraphics.co.uk" title="Email Me" rel="external" target="_blank"><span>Email</span></a></li>
		<li class="links-social-item links-social-twitter"><a href="http://twitter.com/dragongraphics" title="Find me on Twitter" rel="external" target="_blank"><span>Twitter</span></a></li>
		<li class="links-social-item links-social-linkedin"><a href="http://uk.linkedin.com/pub/ashley-nolan/16/980/684" title="My LinkedIn Profile" rel="external" target="_blank"><span>LinkedIn</span></a></li>
	</ul>

	 <div id="footerContent">
		 <p>I'm Ashley Nolan, a Creative Technologist at TMW, and this is where I post about whatever pops into my head (or riles me enough to write about it).  Do take a look around, or contact me in any of the usual ways - it'd be great to hear from you.</p>

		<div id="footerLinks">
			<h3 class="regularcase">Talented people I know</h3>
			<ul>
			  <li><a href="http://www.hanger-designs.co.uk/" rel="external" target="_blank">Owain Llewellyn</a></li>
			  <li><a href="http://www.webnibbles.co.uk/" rel="external" target="_blank">Anthony Mann</a></li>
			  <li><a href="http://rathersplendid.net/" rel="external" target="_blank">Zander Martineau</a></li>
			  <li><a href="http://richmiddleditch.co.uk/" rel="external" target="_blank">Rich Middleditch</a></li>
			  <li><a href="http://www.andismith.com/" rel="external" target="_blank">Andy Smith</a></li>
			</ul>
		</div>
	</div>
</footer>