<header class="page-header">
	<h1 id="page-logo" class="logo">
		<span>Dragon Graphics</span>
		<a href="/"><img src="/assets/img/dg_logo.png" class="logo-dg" alt="Ashley Nolan"></a>
	</h1>

	<!-- main navigation links -->
	<section id="nav-strip" class="nav-strip">
		{{> nav }}
	</section>
</header>