<header>
	<h1 id="page-logo" class="logo">
		<span>Dragon Graphics</span>
		<a href="/"><img src="/assets/img/dg_logo.png" alt="Ashley Nolan"></a>
	</h1>

	<section id="nav-strip" class="nav-strip">
		{{> nav }}

		{{> social-links }}
		<div id="nav-toggle" class="nav-toggle">
			<a href="#navToggle"><span>Menu</span></a>
		</div>
	</section>
</header>