<!-- Global Navigation links -->
<nav id="page-nav" class="nav-global">
	<ul>
		<li class="nav-global-item{{#is basename "blog"}} active{{/is}}"><a href="/blog" data-hover="Blog">Blog</a><span class="navArrow"></span></li><!--
		--><li class="nav-global-item{{#is basename "work"}} active{{/is}}"><a href="/work" data-hover="Work">Work</a><span class="navArrow"></span></li><!--
		--><li class="nav-global-item last {{#is basename "about"}} active{{/is}}"><a href="/about" data-hover="About">About</a><span class="navArrow"></span></li>
	</ul>
</nav>